body{
    overflow-x: hidden;
}
div.hdrWrap{
    background-color: #222;
}
div.hdrWrap>div.header{
    width: 90%;
    max-width: 700px;
    position: relative;
}
div.hdrWrap>div.header>div.hdrLeft{
    float: none;
    width: 100%;
}
div.hdrWrap>div.header>div.hdrLeft>h1{
    width: calc(100% / 8 * 1.5);
    margin: 0 auto;
    height: 40px;
}
div.hdrWrap>div.header>div.hdrMid{
    float: none;
    width: 100%;
    margin-left: calc(100% / 8 * 2 - 20px);
}
div.hdrWrap>div.header>div.hdrMid>ul.nav>li{
    font-size: 15px;
    line-height: 80px;
}
div.hdrWrap>div.header>div.hdrRight{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    display: none;
    margin-left: 0;
    font-size: 20px;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(4){
    display: block;
}

div.mainWrap{
    background-image: url('../images/main_tab.png');
    height: 1000px;
}
div.mainWrap>div.main{
    width: 90%;
    max-width: 700px;
}
div.mainWrap>div.main>div.mainLeft{
    width: 100%;
    margin-top: 120px;
}
div.mainWrap>div.main>div.mainLeft>h2{
    margin-left: 0px;
    font-size: 70px;
    line-height: 80px;
}
div.mainWrap>div.main>div.mainLeft>p{
    width: calc(100% / 8 * 3 - 20px);
    margin-left: 0px;
    height: 120px;
    line-height: 40px;
    overflow: hidden;
    font-size: 15px;
}
div.mainWrap>div.main>div.mainLeft>p>br{
    display: none;
}
div.mainWrap>div.main>div.mainLeft>div.btn{
    display: none;
}
div.mainWrap>div.main>div.mainRight{
    display: none;
}
div.cntWrap>div.content{
    width: 90%;
    max-width: 700px;
}

div.cntWrap>div.content.cnt01>div.section{
    margin-top: 40px;
    position: relative;
    height: 520px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.image{
    width: 50%;
    height: 440px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.texts{
    width: 50%;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft>div.article>div.texts>h2{
    padding-top: 120px;
    padding-left: calc(100% / 4 - 20px);
}
div.cntWrap>div.content.cnt01>div.section>div.artRight{
    display: none;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging{
    display: block;
    width: 18%;
    height: 40px;
    position: absolute;
    margin: auto;
    bottom: 0px;
    left: 0;
    right: 0;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging>li{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: #333;
    float: left;
    margin-left: 15px;
    margin-top: 2.5px;
    cursor: pointer;
}
div.cntWrap>div.content.cnt01>div.section>ul.paging>li.show{
    width: 20px;
    height: 20px;
    background-color: #151e63;
    margin-top: 0px;
}
div.cntWrap>div.content>div.header>p{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt02>div.header>div.bgImg{
    height: 320px;
    margin-left: calc((100vw - 700px) / -2);
}
div.cntWrap>div.content.cnt02>div.section{
    margin-top: -240px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup{
    height: 520px;
    overflow: hidden;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artView{
    height: 360px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artView>div.image{
    height: 360px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artView>div.texts{
    width: calc(100% / 8 * 2);
    margin-top: -80px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artView>div.texts>h5{
    font-size: 11px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artView>div.texts>h3{
    font-size: 11px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artThumb{
    width: calc(100% / 4 - 20px);
    margin-top: 40px;
    height: 120px;
}
div.cntWrap>div.content.cnt02>div.section>div.artGroup>div.artThumb>div.image{
    height: 120px;
}

div.cntWrap>div.content.cnt03>div.section>div.article{
    width: calc(100% / 8 * 6);
    margin: 0 auto;
    float: none;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image{
    width: 100%;
}
div.cntWrap>div.content.cnt03>div.section>div.article:nth-child(1)~div.article>div.image{
    margin-top: 40px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i1{
    background-image: url('../images/tab-membership_01.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i2{
    background-image: url('../images/tab-membership_02.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.image.i3{
    background-image: url('../images/tab-membership_03.png');
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts{
    width: 50%;
    margin-left: calc(100% / 6 * 2);
    margin-top: -80px;
}
div.cntWrap>div.content.cnt03>div.section>div.article>div.texts>ul.texts{
    font-size: 12px;
    color: #fff;
}

div.bnrWrap:nth-last-child(4){
    height: 480px;
}
div.bnrWrap>div.banner.bnr01{
    width: 90%;
    max-width: 700px;
   
}
div.bnrWrap>div.banner.bnr01>div.bnrLeft{
    width: 100%;
    top: 240px;
    height: 240px;
}
div.bnrWrap>div.banner.bnr01>div.bnrLeft>div.ovrGrid{
    width: 100%;
    left: 0;
}
div.bnrWrap>div.banner.bnr01>div.bnrLeft>div.ovrGrid>div.image{
    background-image: url('../images/tab-at\ home_01.png');
}
div.bnrWrap>div.banner.bnr01>div.bnrRight{
    width: 100%;
    left: 0;
    height: 240px;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.ovrGrid{
    width: 100%;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.ovrGrid>div.image{
    height: 240px;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.texts{
    position: relative;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.texts>h2{
    font-size: 25px;
    font-weight: 700;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.texts>h5{
    font-weight: 700;
    line-height: 20px;
    margin-top: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.texts>p{
    line-height: 20px;
}
div.bnrWrap>div.banner.bnr01>div.bnrRight>div.texts>div.btn{
    width: calc(100% / 8);
    line-height: 30px;
    position: absolute;
    top: 45px;
    left: calc(100% / 8 * 1.5 + 10px);
}

div.cntWrap>div.content.cnt04>div.section div.article{
    width: 50%;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop{
    width: 50%;
    float: left;
}
div.cntWrap>div.content.cnt04>div.section>div.artTop>div.article{
    width: 100%;
    margin: 0;
}

div.bnrWrap>div.banner.bnr02{
    width: 90%;
    max-width: 700px;
}
div.bnrWrap>div.banner.bnr02>h2::before{
    float: none;
    margin: 0 auto;
}
div.bnrWrap>div.banner.bnr02>h2{
    width: calc(100% / 8 * 2);
    font-size: 25px;
    text-align: center;
    line-height: 30px;
    margin-left: 0;
}
div.bnrWrap>div.banner.bnr02>h2>br{
    display: block;
}

div.bnrWrap>div.banner.bnr02>div.btn{
    width: calc(100% / 8 * 4.7);
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 700px;
}
div.ftrWrap>div.footer>div.ftrTop>h4{
    width: calc(100% / 8 * 1.5);
    margin-left: 0px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    border-right: 1px solid white;
}
div.ftrWrap>div.footer>div.ftrTop>h4:nth-child(1){
    margin-left: calc(100% / 8 * 1.5);
}
div.ftrWrap>div.footer>div.ftrTop>h4:nth-child(2){
    width: calc(100% / 8 * 2.3);
}
div.ftrWrap>div.footer>div.ftrTop>h4:nth-child(3){
    border: none;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    width: calc(100% / 8 * 6);
    float: none;
    margin: 0 auto;
    margin-top: 20px;
}
div.ftrWrap>div.footer>div.ftrBtm>select{
    width: calc(100% / 8 * 2 - 20px);
    margin: 0 auto;
    float: none;
    margin-top: 20px;
}