@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@200&display=swap');
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
h2, h3{
    font-family: 'DM Serif Display', serif;
}
.btn, i, li{
    cursor: pointer;
}
.xi-heart{
    color: red;
}
.bg, .image, .bgImg{
    font-size: 0;
    line-height: 0;
    text-shadow: none;
    color: transparent;
}
div.hdrWrap{
    color: #fff;
    position: relative;
    z-index: 5;
}
div.hdrWrap>div.header{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    
}
div.hdrWrap>div.header::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrLeft{
    width: calc(100% / 12);
    float: left;
}
div.hdrWrap>div.header>div.hdrLeft h1{
    width: 100%;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/logo.png');
}
div.hdrWrap>div.header>div.hdrMid{
    width: calc(100% / 12 * 4.5);
    float: left;
    margin-left: calc(100% / 12 * 3);
}

div.hdrWrap>div.header>div.hdrMid>ul.nav::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrMid>ul.nav>li{
    float: left;
    font-size: 11px;
    margin-left: 30px;
    line-height: 60px;
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrRight{
    width: calc(100% / 12 * 2.5);
    float: right;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu::after{
    content: '';
    display: block;
    clear: both;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    /* float: left; */
    font-size: 9px;
    line-height: 60px;
    /* margin-left: 30px; */
    cursor: pointer;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    background-color: #fff;
    width: calc(100% / 2.2 * 0.6);
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    color: #000;
    margin-top: 20px;
    text-align: center;
}

div.mainWrap{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/sub_3/sub3-main-01.png');
    height: 200px;
    margin-top: -60px;
}
div.mainWrap>div.main{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
div.mainWrap>div.main>h2{
    font-size: 25px;
    line-height: 40px;
    padding-top: 100px;
    font-family: 'DM Serif Display', serif;
}
div.mainWrap>div.main>h5{
    font-size: 12px;
    line-height: 20px;
}

div.cntWrap>div.content{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.bnrWrap:nth-child(3)~div>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.bnrWrap{
    margin-top: 80px;
}
div.bnrWrap:nth-child(3)~div.bnrWrap>div.banner{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}
div.bnrWrap>div.banner.bnr01 div.bgImg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.bnrWrap>div.banner.bnr01>div.bgImg.i1{
    background-image: url('../images/sub_3/sub3-cnt01-01.png');
    height: 200px;
}
div.bnrWrap>div.banner.bnr01>div.bgView{
    width: 100%;
    overflow: hidden;
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup{
    width: 400%;
    height: 360px;
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup>div.bgImg{
    width: calc(100% / 4);
    height: 360px;
    float: left;
    opacity: 0.8;
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup>div.bgImg.i1{
    background-image: url('../images/sub_3/sub3-cnt01-slide1.png'); 
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup>div.bgImg.i2{
    background-image: url('../images/sub_3/sub3-cnt01-slide2.png');
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup>div.bgImg.i3{
    background-image: url('../images/sub_3/sub3-cnt01-slide3.png');
}
div.bnrWrap>div.banner.bnr01>div.bgView>div.bgGroup>div.bgImg.i4{
    background-image: url('../images/sub_3/sub3-cnt01-slide4.png');
}
div.bnrWrap>div.banner.bnr01>div.texts{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    margin-top: -560px;
}
div.bnrWrap>div.banner.bnr01>div.texts>h2{
    color: #151e63;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    line-height: 120px;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years{
    background-color: #fff;
    box-shadow: 2px 2px 4px;
    padding: 0 20px;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years>div.year{
    width: calc(100% / 5);
    float: left;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years>div.year>h3::after{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    content: '';
    display: block;
    background-color: #151e63;
    margin: 0 auto;
    margin-top: 10px;
    position: relative;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years>div.year>h5::before{
    width: 100%;
    height: 2px;
    background-color: #555;
    content: '';
    display: block;
    margin-bottom: 20px;
    margin-top: -7.5px;
}
div.bnrWrap>div.banner.bnr01>div.texts>div.years>div.year>h5{
    font-size: 13px;
    color: #333;
}

div.bnrWrap:nth-child(4){
    margin-top: 320px;
}
div.bnrWrap>div.banner.bnr02{
    text-align: center;
}
div.bnrWrap>div.banner.bnr02>div.header>h2{
    font-size: 20px;
}
div.bnrWrap>div.banner.bnr02>div.header>h2>span{
    color: #151e63;
    font-weight: 700;
}
div.bnrWrap>div.banner.bnr02>div.section>p{
    margin: 0 auto;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    margin-top: 40px;
}
div.bnrWrap>div.banner.bnr02>div.section>div.images{
    width: calc(100% / 12 * 10);
    margin: 0 auto;
    overflow: hidden;
    margin-top: 40px;
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup{
    width: 140%;
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image{
    width: calc(100% / 7 - 20px);
    margin: 0 10px;
    height: 120px;
    float: left;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i1{
    background-image: url('../images/cnt02_01.png');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i2{
    background-image: url('../images/cnt02_02.jpg');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i3{
    background-image: url('../images/cnt02_03.jpg');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i4{
    background-image: url('../images/cnt02_04.jpg');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i5{
    background-image: url('../images/cnt02_05.jpg');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i6{
    background-image: url('../images/cnt02_06.jpg');
}
div.bnrWrap>div.banner.bnr02>div.section>div.images>div.imgGroup>div.image.i7{
    background-image: url('../images/cnt02_07.jpg');
}

div.cntWrap{
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/sub_3/sub3-cnt03-01.png');
    width: 100vw;
    margin-left: min(calc((100vw - 1080px) / -2), calc((100vw - 80vw) / -2));
}
div.cntWrap>div.content.cnt01>div.header>div.txts{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 160px;
}
div.cntWrap>div.content.cnt01>div.header>div.txts>h2{
    font-size: 35px;
}
div.cntWrap>div.content.cnt01>div.header>div.txts>p{
    font-size: 13px;
    line-height: 20px;
    margin-top: 80px;
}
div.cntWrap>div.content.cnt01>div.header>div.txts>h5{
    line-height: 40px;
    font-size: 35px;
    margin-top: 100px;
}
div.cntWrap>div.content.cnt01>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.cntWrap>div.content.cnt01>div.section>div.article{
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
    float: left;
    margin-top: -120px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image{
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i1{
    background-image: url('../images/sub_3/sub3-cnt03-02.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i2{
    background-image: url('../images/sub_3/sub3-cnt03-03.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i3{
    background-image: url('../images/sub_3/sub3-cnt03-04.png');
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.image.i4{
    background-image: url('../images/sub_3/sub3-cnt03-05.png');
}

div.cntWrap>div.content.cnt01>div.section>div.article>div.texts{
    position: relative;
    height: 120px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>p{
    width: calc(100% / 3 * 2);
    background-color: #eee;
    box-shadow: 2px 2px 4px gray;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
    line-height: 20px;
    padding-bottom: 20px;
    position: absolute;
    right: 0;
    top: -80px;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3::before{
    height: 80px;
    width: 1px;
    background-color: #333;
    display: block;
    content: '';
    margin: 0 auto;
}
div.cntWrap>div.content.cnt01>div.section>div.article>div.texts>h3{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

div.bnrWrap>div.banner.bnr03>div.header{
    text-align: center;
}
div.bnrWrap>div.banner.bnr03>div.header>h2{
    font-size: 25px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr03>div.header>h5{
    font-size: 13px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr03>div.section{
    width: calc(100% / 12 * 8);
    margin: 0 auto;
    margin-top: 80px;
}
div.bnrWrap>div.banner.bnr03>div.section::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts{
    width: calc(100% / 3 - 20px);
    padding-right: calc(100% / 12);
    float: left;
    margin: 0 10px;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts>div.icon{
    line-height: 40px;
    font-size: 40px;
    color: #151e53;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts>p{
    font-size: 12px;
    padding-left: 40px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts>div.btn{
    font-size: 12px;
    margin-top: 20px;
    width: 100%;
    height: 20px;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts>div.btn>span{
    float: left;
}
div.bnrWrap>div.banner.bnr03>div.section>div.texts>div.btn>i{
    float: right;
}

div.bnrWrap>div.banner.bnr04::after{
    display: block;
    content: '';
    clear: both;
}
div.bnrWrap>div.banner.bnr04>div.bgImg{
    width: 100vw;
    height: 360px;
    margin-left: min(calc((100vw - 1080px) / -2), calc((100vw - 80vw) / -2));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/sub_3/sub3-bnr-01.png');
}
div.bnrWrap>div.banner.bnr04>div.partner{
    width: calc(100% / 12 * 9);
    padding: 40px 0 40px calc(100% / 12 - 20px);
    background-color: #fff;
    margin-top: -120px;
    float: left;
}
div.bnrWrap>div.banner.bnr04>div.partner::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr04>div.partner>h2{
    font-size: 25px;
    line-height: 40px;
    float: left;
}
div.bnrWrap>div.banner.bnr04>div.partner>div.btn{
    width: calc(100% / 9 * 1.8);
    float: right;
    line-height: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
    margin-right: 20px;
    text-align: center;
}
div.bnrWrap>div.banner.bnr04>div.phone::before{
    width: 100%;
    height: 360px;
    background-color: #151e53;
    display: block;
    content: '';
    opacity: 0.8;
    position: absolute;
    top: 0;
}
div.bnrWrap>div.banner.bnr04>div.phone{
    width: calc(100% / 12 * 3);
    height: 360px;
    position: relative;
    float: left;
    margin-top: -360px;
    color: #fff;
    text-align: center;
}
div.bnrWrap>div.banner.bnr04>div.phone>h3{
    margin-top: 120px;
    position: relative;
    line-height: 40px;
    font-size: 26px;
}
div.bnrWrap>div.banner.bnr04>div.phone>h5{
    font-size: 22px;
    line-height: 40px;
    position: relative;
}
div.bnrWrap>div.banner.bnr04>div.phone>p{
    position: relative;
    line-height: 40px;
    font-size: 12px;
}
div.bnrWrap>div.banner.bnr04>div.texts::after{
    content: '';
    display: block;
    clear: both;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.top>div.txt{
    width: calc(100% / 12 * 9);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/sub_3/sub3-bnr-02.png');
    height: 160px;
    float: left;
    padding-top: 20px;
    padding-left: calc(100% / 12 - 20px);
}
div.bnrWrap>div.banner.bnr04>div.texts>div.top>div.txt>h3{
    font-size: 16px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.top>div.txt>p{
    font-size: 13px;
    line-height: 20px;
}

div.bnrWrap>div.banner.bnr04>div.texts>div.top>div.image{
    width: calc(100% / 12 * 3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/sub_3/sub3-bnr-03.png');
    height: 160px;
    float: left;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>h2{
    margin-left: calc(100% / 12 - 20px);
    font-size: 25px;
    line-height: 80px;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/sub_3/sub3-bnr-02.png');
    height: 160px;
    padding-top: 20px;
    padding-left: calc(100% / 12 - 20px);
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.txt{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.txt>h3{
    font-size: 16px;
    line-height: 40px;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.txt>p{
    font-size: 13px;
    line-height: 20px;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.btns{
    width: 50%;
    float: left;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.btns>div.btn{
    width: calc(100% / 6.5);
    line-height: 40px;
    color: #fff;
    background-color: #151e63;
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
}
div.bnrWrap>div.banner.bnr04>div.texts>div.btm>div.txts>div.btns>div.btn:nth-child(1){
    margin-left: 50%;
}
div.ftrWrap{
    background-color: #222;
    margin-top: 80px;
}
div.ftrWrap::before{
    height: 80px;
    background-color: #151e63;
    content: '';
    display: block;

}
div.ftrWrap>div.footer{
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrTop{
    width: 80%;
    margin: 0 auto;
    margin-top: -80px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
}
div.ftrWrap>div.footer>div.ftrTop::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrTop>h4{
    color: #fff;
    font-size: 12px;
    line-height: 80px;
    margin: 0 auto;
}

div.ftrWrap>div.footer>div.ftrBtm{
    padding: 40px 0px;
}
div.ftrWrap>div.footer>div.ftrBtm::after{
    content: '';
    display: block;
    clear: both;
}
div.ftrWrap>div.footer>div.ftrBtm>p{
    font-size: 10px;
    color: #fff;
    line-height: 20px;
    width: calc(100% / 12 * 6 - 20px);
    float: left;
    margin-left: calc(100% / 12 * 3);
}
div.ftrWrap>div.footer>div.ftrBtm>select{
    width: calc(100% / 12 * 2);
    height: 40px;
    color: #fff;
    float: right;
    background-color: #222;
    border: 1px solid white;
    text-align: center;
}